article.sn > .article-body figure {
	margin: 1.5rem 0;
}

article.sn > .article-body figure amp-img {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	max-width: 100%;
}

article.sn > .article-body figcaption {
	color: #cfd8dc;
	font-size: .8rem;
	font-weight: 700;
	margin-top: .5rem;
}

